html, body {
    font-size: 12px;
}

a {
    color: black;
}

main {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.headline, .client, .admin {
    text-align: center;
}

.client {
    margin-bottom: 30px;
}

.headline {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.client__headline,
.admin__headline {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.download-button {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
}
.mobile-download-guide {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.guide-wrap:not(:last-child) {
    margin-bottom: 20px;
}

.guide-wrap .guide-image-box:last-child {
    float: right;
}

.guide-image-box {
    display: inline-block;
    text-align: center;
    width: 49%;
}

.guide-image{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black;
}

.guide-paragraph {
    font-size: 1.2rem;
    line-height: 1.3;
    word-break: keep-all;
}