<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>WORLD LOTTO</title>
</head>
<body>
    <main>
        <h1 class="headline">WORLD LOTTO</h1>
        <section class="client">
            <h1 class="client__headline">CLIENT</h1>
            <a href="../css/reset.css" download="w3logo">PC</a>
            <!-- <button class="download-button client__pc">
                <a href="../README.md" download>PC</a>
            </button> -->
            <button class="download-button client__mobile">MOBILE</button>
        </section>
        <section class="admin">
            <h1 class="admin__headline">ADMINISTRATOR</h1>
            <button class="download-button admin__pc">PC</button>
            <button class="download-button admin__mobile">MOBILE</button>
        </section>
    </main>
</body>

<script>
 document.querySelector('.headline').addEventListener('click', () => {
     window.location = './css';
 })
</script>

</html>